In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("assets/socialmedia_waisters.csv")
data.head()

,UserID,Age,Gender,Location,Income,Debt,Owns Property,Profession,Demographics,Platform,...,ProductivityLoss,Satisfaction,Watch Reason,DeviceType,OS,Watch Time,Self Control,Addiction Level,CurrentActivity,ConnectionType
0,1,56,Male,Pakistan,82812,True,True,Engineer,Rural,Instagram,...,3,7,Procrastination,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
1,2,46,Female,Mexico,27999,False,True,Artist,Urban,Instagram,...,5,5,Habit,Computer,Android,5:00 PM,7,3,At school,Wi-Fi
2,3,32,Female,United States,42436,False,True,Engineer,Rural,Facebook,...,6,4,Entertainment,Tablet,Android,2:00 PM,8,2,At home,Mobile Data
3,4,60,Male,Barzil,62963,True,False,Waiting staff,Rural,YouTube,...,3,7,Habit,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
4,5,25,Male,Pakistan,22096,False,True,Manager,Urban,TikTok,...,8,2,Boredom,Smartphone,iOS,8:00 AM,10,0,At home,Mobile Data

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   UserID                    1000 non-null   int64
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   object
 3   Location                  1000 non-null   object
 4   Income                    1000 non-null   int64
 5   Debt                      1000 non-null   bool
 6   Owns Property             1000 non-null   bool
 7   Profession                1000 non-null   object
 8   Demographics              1000 non-null   object
 9   Platform                  1000 non-null   object
 10  Total Time Spent          1000 non-null   int64
 11  Number of Sessions        1000 non-null   int64
 12  Video ID                  1000 non-null   int64
 13  Video Category            1000 non-null   object
 14  Video Length              1000 non-null   int64
 15  Engagement                1000 non-null   int64
 16  Importance Score          1000 non-null   int64
 17  Time Spent On Video       1000 non-null   int64
 18  Number of Videos Watched  1000 non-null   int64
 19  Scroll Rate               1000 non-null   int64
 20  Frequency                 1000 non-null   object
 21  ProductivityLoss          1000 non-null   int64
 22  Satisfaction              1000 non-null   int64
 23  Watch Reason              1000 non-null   object
 24  DeviceType                1000 non-null   object
 25  OS                        1000 non-null   object
 26  Watch Time                1000 non-null   object
 27  Self Control              1000 non-null   int64
 28  Addiction Level           1000 non-null   int64
 29  CurrentActivity           1000 non-null   object
 30  ConnectionType            1000 non-null   object
dtypes: bool(2), int64(16), object(13)
memory usage: 228.6+ KB

In [4]:
data.isnull().sum()

UserID                      0
Age                         0
Gender                      0
Location                    0
Income                      0
Debt                        0
Owns Property               0
Profession                  0
Demographics                0
Platform                    0
Total Time Spent            0
Number of Sessions          0
Video ID                    0
Video Category              0
Video Length                0
Engagement                  0
Importance Score            0
Time Spent On Video         0
Number of Videos Watched    0
Scroll Rate                 0
Frequency                   0
ProductivityLoss            0
Satisfaction                0
Watch Reason                0
DeviceType                  0
OS                          0
Watch Time                  0
Self Control                0
Addiction Level             0
CurrentActivity             0
ConnectionType              0
dtype: int64

In [5]:
data.dtypes

UserID                       int64
Age                          int64
Gender                      object
Location                    object
Income                       int64
Debt                          bool
Owns Property                 bool
Profession                  object
Demographics                object
Platform                    object
Total Time Spent             int64
Number of Sessions           int64
Video ID                     int64
Video Category              object
Video Length                 int64
Engagement                   int64
Importance Score             int64
Time Spent On Video          int64
Number of Videos Watched     int64
Scroll Rate                  int64
Frequency                   object
ProductivityLoss             int64
Satisfaction                 int64
Watch Reason                object
DeviceType                  object
OS                          object
Watch Time                  object
Self Control                 int64
Addiction Level              int64
CurrentActivity             object
ConnectionType              object
dtype: object

In [8]:
Instagram = data[data['Platform'] == 'Instagram']
TikTok = data[data['Platform'] == 'TikTok']
Facebook = data[data['Platform'] == 'Facebook']
YouTube = data[data['Platform'] == 'YouTube']

In [10]:
Instagram_engagement = Instagram['Engagement'].mean()
TikTok_engagement = TikTok['Engagement'].mean()
Facebook_engagement = Facebook['Engagement'].mean()
YouTube_engagement = YouTube['Engagement'].mean()

In [13]:
print("Engagements Score")
print("Youtube :" ,YouTube_engagement)
print("Instagram :" ,Instagram_engagement)
print("Facebook :" ,Facebook_engagement)
print("TikTok :" , TikTok_engagement)

Engagements Score
Youtube : 4866.36
Instagram : 5090.83984375
Facebook : 5228.276018099547
TikTok : 4841.996336996337

In [17]:
Instagram_into_dept = Instagram['Debt'].sum()
TikTok_into_dept = TikTok['Debt'].sum()
Facebook_into_dept = Facebook['Debt'].sum()
YouTube_into_dept = YouTube['Debt'].sum()

In [18]:
print("Nombre d'endettés par reseaux")
print("Youtube :" ,YouTube_into_dept)
print("Instagram :" ,Instagram_into_dept)
print("Facebook :" ,Facebook_into_dept)
print("TikTok :" , TikTok_into_dept)

Nombre d'endettés par reseaux
Youtube : 158
Instagram : 151
Facebook : 131
TikTok : 159

In [22]:
Instagram_age_avg = Instagram['Age'].mean()
TikTok_age_avg = TikTok['Age'].mean() 
Facebook_age_avg = Facebook['Age'].mean() 
Youtube_age_avg = YouTube['Age'].mean()  

print("Moyennes d'âges par reseaux")
print("Youtube :" ,Youtube_age_avg)
print("Instagram :" ,Instagram_age_avg)
print("Facebook :" ,Facebook_age_avg)
print("TikTok :" , TikTok_age_avg)

Moyennes d'âges par reseaux
Youtube : 40.768
Instagram : 41.40625
Facebook : 40.34841628959276
TikTok : 41.30769230769231

In [24]:
Instagram_gender_distrubtion = Instagram['Gender'].value_counts()
Facebook_gender_distrubtion = Facebook['Gender'].value_counts()
TikTok_gender_distrubtion = TikTok['Gender'].value_counts()
Youtube_gender_distrubtion = YouTube['Gender'].value_counts()

print("Distrubutions des genres par reseaux")
print("Youtube :" ,Youtube_gender_distrubtion)
print("Instagram :" ,Instagram_gender_distrubtion)
print("Facebook :" ,Facebook_gender_distrubtion)
print("TikTok :" , TikTok_gender_distrubtion)

Distrubutions des genres par reseaux
Youtube : Gender
Male      129
Female     75
Other      46
Name: count, dtype: int64
Instagram : Gender
Male      131
Female     92
Other      33
Name: count, dtype: int64
Facebook : Gender
Male      115
Female     72
Other      34
Name: count, dtype: int64
TikTok : Gender
Male      139
Female     83
Other      51
Name: count, dtype: int64

In [25]:
Instagram_scroll_rate = Instagram['Scroll Rate'].mean()
Facebook_scroll_rate = Facebook['Scroll Rate'].mean()
TikTok_scroll_rate = TikTok['Scroll Rate'].mean()
Youtube_scroll_rate = YouTube['Scroll Rate'].mean()

print("Moyennes des scrolls par reseaux")
print("Youtube :" ,Youtube_scroll_rate)
print("Instagram :" ,Instagram_scroll_rate)
print("Facebook :" ,Facebook_scroll_rate)
print("TikTok :" , TikTok_scroll_rate)

Moyennes des scrolls par reseaux
Youtube : 49.348
Instagram : 52.23046875
Facebook : 46.76923076923077
TikTok : 50.29304029304029